:root {
	--buttonBgColor: #ff3e00;
	--buttonTextColor: #fff;
	--backgroundColor: #1d1d1d;
	--textColor: #fff;
}

body {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	font-family: 'Montserrat', sans-serif;
}
